name: Preprod Simple
on:
  workflow_call:
    inputs:
      repo_kind:
        required: true
        type: string
    secrets:
      PREPROD_DATABASE_URL:
        required: false

jobs:
  preprod:
    runs-on: ubuntu-latest
    steps:
      - name: Echo repo kind
        run: echo "Repo kind is ${{ inputs.repo_kind }}"
      - name: Test secret
        run: echo "Secret is set: ${{ secrets.PREPROD_DATABASE_URL != '' }}"
